<span class='user_info_block'>
  <img src="https://pixy.org/images/placeholder.png">
  <p class='user_info_text'>
    Name: <%= link_to user.name, user_path(user), class: "link name-link" %><br>
    Turing Slack: @<%= user.slack %><br>
    Looking For: <%= user.looking_for %><br>
  </p>
</span>
