$steel-teal: #588B8B;
$platinum: #E8EBE4;
$terra-cotta: #ED6A5A;
$beige: #FAF3DD;
$black-olive: #3B413C;

body {
  font-family: 'Nunito', sans-serif;
}

.page-title {
  font-size: 18px;
  margin-left: 10px;
}
