$steel-teal: #588B8B;
$platinum: #E8EBE4;
$terra-cotta: #ED6A5A;
$beige: #FAF3DD;
$black-olive: #3B413C;

.link {
  text-decoration: none;
  color: $steel-teal;
}
.delete-link  {
  color: $terra-cotta;
}
.delete-link:hover {
  color: $platinum;
  background-color: transparentize($steel-teal, .10);
  border-radius: 3px;
}
