$steel-teal: #588B8B;
$platinum: #E8EBE4;
$terra-cotta: #ED6A5A;
$pewter-blue: #93B7BE;
$black-olive: #3B413C;

.link {
  text-decoration: none;
  color: $steel-teal;
}
.show-link{
  display: inline-block;
  background-color: transparentize($platinum, .6);
  width: 75px;
  text-align: center;

  border-radius: 3px;
  margin-left: 20px;
  margin-top: 20px;
}
.edit-link:hover{
  color: $platinum;
  background-color: transparentize($steel-teal, .3);
  border-radius: 3px;
}
.delete-link  {
  color: $terra-cotta;
  margin-bottom: 50px;
}
.delete-link:hover {
  color: $platinum;
  background-color: transparentize($terra-cotta, .1);
  border-radius: 3px;
}
