$steel-teal: #588B8B;
$platinum: #E8EBE4;
$terra-cotta: #ED6A5A;
$beige: #FAF3DD;
$black-olive: #3B413C;


.nav-bar  {
  display: block;
  position: static;

  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 50px;
}
.site-title {
  float: left;
  margin: 7px;
  color: $black-olive;
  font-size: 20px;
}

.nav-link {
  float: right;

  margin: 8px;

  border-bottom-style: solid;
  border-bottom-width: thin;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-color: transparentize($steel-teal, .5);
}
